@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Source+Sans+Pro&display=swap');

$mich-maize: #FECA04;
$mich-blue: #00274C;


body {
	background-color: $mich-blue;
	color: $mich-maize;
	font-family: 'Source Sans Pro', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Crimson Text', serif;
	}


	div#root {
		display: flex;
		flex-flow: row wrap;

		header {
			height: 10vh;
			flex: 0 1 100vw;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			img {
				height: 100%;
				margin: 0 20px;
			}

			button {
				margin: 0 20px;
				background-color: transparent;
				border: none;

				transition: all 200ms;
				a {
					text-decoration: none;
					color: $mich-maize;
					font-family: 'Crimson Text', serif;
					font-size: 1.5rem;
					
				}

				&:hover {
					transform: scale(1.2);
				}
			}
		}


		main {
			flex: 0 1 100vw;

			margin: 20px;

			div {
				display: flex;
				flex-flow: row nowrap;

			}

			article {
				flex: 1;

				text-align: center;

				section {
					
					display: flex;
					flex-flow: row wrap;
					justify-content: center;


					h3 {
						font-size: 1.75rem;
						text-decoration: underline;
						margin: 10px 0 0 0;
					}
					table {
						flex: 1 0 100%;

						margin: 20px 0;
						border-collapse: collapse;

						thead {
							th {
								cursor: pointer;
							}
						}



						tr {
							border-bottom: 1px solid darken(white, 50%);

							&:nth-last-child(1) {
								border: none;
							}
						}

						td {
							font-size: 1.5rem;

							
						}

						th {
							font-size: 1.75rem;
							font-family: 'Crimson Text', serif;
						}

						&.schedulePage {
							td {
								&:nth-child(1) {
									text-align: left;
								}

								&:nth-last-child(1) {
									text-align: right;
								}
							}
						}
					}			
				}
			}
		}
	}
}



div.loadingIcon {
	display: inline-block;

	height: 50px;
	width: 50px;

	border-radius: 50%;
	border: 10px solid $mich-blue;
	border-top: 10px solid $mich-maize;

	animation: spin 1s linear infinite;


}


@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}