@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

$mich-maize: #FECA04;
$mich-blue: #00274C;

body {
  background-color: $mich-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $mich-blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $mich-maize;
  font-family: Ubuntu, serif;
  text-transform: uppercase;
  padding-top: 20px;
}

.clickable:hover {
  cursor: pointer;
}

.nav-link {
  font-size: 15px;
  font-family: Ubuntu, serif;
  color: $mich-maize;
  background-color: $mich-blue;
  border: 1px solid $mich-maize;
  transition: all 300ms;
}

.nav-link:hover {
  cursor: pointer;
  color: $mich-blue;
  background-color: white;
}

tr {
  color: white;
  transition: all 200ms;
}

td {
  padding: 5px;
}

td.empty {
  visibility: hidden;
}

tr:hover {
  background-color: $mich-maize;
  color: $mich-blue;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.grid-container.schedule {
  display: grid;
  grid-template-columns: 33.333333vw 33.333334vw 33.333333vw;
  padding-top: 70px;
}

.grid-container.roster {
  display: grid;
  grid-template-columns: 100vw;
  padding-top: 70px;
}

#carousel {
  width: 50vw;
}

#menu-logo {
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-black {
  background-color: black;
}

/* transition */
.route-transition {
  position: absolute;
  padding-bottom: 100px;
}
.route-transition-enter {
  opacity: 0;
}
.route-transition-enter-active {
  opacity: 1;
  transition: all 500ms;
}
.route-transition-exit {
  opacity: 1;
}
.route-transition-exit-active {
  opacity: 0;
  transition: all 500ms;
}